html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./img/tropicoat-bg.jpg') no-repeat center center;
  background-size: cover;
}

a, a:visited, a:hover {
  color: #fff;
  text-decoration: none;
}

h3 {
  text-align: center;
}

.main {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.content-container {
  background: #161616;
}

.content-container img {
  width: 100%;
}

div.logo {
  text-align: center;
}

img.logo {
  width: 50%;
  margin-top: 20px;
}

.tab_nav {
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
}

.tab_nav li {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

.tab_nav li:hover {
  color: #999;
}
.contact-info {
  margin-bottom: 25px;
}
.contact-info p {
  display: block;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

li.active {
  border: 1px solid white;
  border-bottom: 0;
}
.tab_inside, .tab_outside {
  border: 1px solid white;
  margin-bottom: 20px;
}
