.court {
  position: relative; }
  .court .outside, .court .inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .court .outside img, .court .inside img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }
    .court .outside img.active, .court .inside img.active {
      display: block; width: 100% !important; height: auto; }

svg.colors polygon, svg.colors-2 polygon {
  cursor: pointer;
  opacity: 0.9; }
  svg.colors polygon:hover, svg.colors-2 polygon:hover {
    opacity: 1; }
  svg.colors polygon.active:before, svg.colors-2 polygon.active:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%; }

.tab_inside, .tab_outside {
  border: 1px solid #7e7e7e;
  float: left;
  clear: both;
  width: 100%;
  display: none;
  padding: 1.6em 0 0 0;
  position: relative;
  z-index: 1; }

.color-selector-wrapper {
  width: 50%;
  display: inline-block;
  margin: 0 -2px;
  margin-bottom: 20px;
}

.colors-label {
  display: inline-block;
  margin: 0 -2px;
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
}

.color-selector-wrapper:first-of-type {
  border-right: 1px solid #7e7e7e;
}
  .tab_inside.active, .tab_outside.active {
    display: block; }
  .tab_inside svg.colors, .tab_outside svg.colors, .tab_inside svg.colors-2, .tab_outside svg.colors-2 {
    width: 70%;
    margin: 0 auto;
    display: block; }
  .tab_inside .color, .tab_outside .color {
    text-transform: uppercase;
    position: relative;
    background-color: red;
    height: 2em;
    margin-top: 1.3em;
    overflow: hidden;
    transition: background-color 200ms ease-in-out; }
    .tab_inside .color div, .tab_outside .color div {
      position: absolute;
      width: 100%;
      text-align: center;
      line-height: 2em;
      bottom: 2em;
      color: #fff; }
    .tab_inside .color div.remove, .tab_outside .color div.remove {
      transition: bottom 200ms ease-in-out; }
    .tab_inside .color div.new_color, .tab_outside .color div.new_color {
      bottom: 0;
      animation: movedown 200ms cubic-bezier(0.91, 0.8, 0.54, 1.39); }

@keyframes movedown {
  from {
    bottom: 2em; }
  to {
    bottom: 0; } }
.entry-content .tab_nav {
  float: left;
  clear: both;
  margin: 1em 0 0 2em;
  list-style-type: none;
  text-transform: uppercase;
  position: relative;
  top: 1px;
  z-index: 50; }
  .entry-content .tab_nav li {
    float: left;
    color: #7e7e7e;
    background-color: #fff;
    padding: 3px 7px;
    display: inline-block;
    cursor: pointer; }
  .entry-content .tab_nav li.active {
    border: 1px solid #7e7e7e;
    border-bottom: 1px solid #fff; }
